/* semantic color variables for this project */
:root {
  --color-black-mo: #50616d;
  --color-black-qi: #161823;
  --color-white: #fffbf0;
  --color-red: #ff2121;

  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);
  --color-text: #213547;
  --color-background: var(--color-white-qi);

  --font-size-secondary-title: 1.6em;
}

/*
This is nice! dark mode base one OS setting?!!
@media (prefers-color-scheme: dark) {}
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Fira Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 14pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  padding: 2rem 3rem;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}
a:hover {
  text-decoration: underline !important;
}

ol,
ul {
  padding-left: 1.5em;
}

@media (max-width: 375px) {
  :root {
   --font-size-secondary-title: 1.3em;
  }
  .about {
    font-size: 12pt;
  }
}
